html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Open Sans";
    background-color: #02c4ff;
    opacity: 1;
    background: repeating-linear-gradient(45deg, #004256, #004256 2px, #003153 2px, #003153 10px);
}

main {}

.container {
    display: flex;
}

#navbar a {
    display: block;
    padding-left: 20px;
}

.col1 {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #003153;
    color: #339dbd;
    overflow-x: hidden;
}

.col1 a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: #42d3ff;
}

.col1 h1 {
    text-align: center;
}

.spacer {
    display: none;
    height: 140px;
    transition: all 0.4s ease-in-out;
}

.items-top {
    display: none;
    height: 160px;
    overflow: hidden;
}

.hide {
    height: 0;
}

.rotate {
    transform: rotate(180deg);
    transition: all 0.1s ease-in-out;
}

.col2 {
    display: flex;
    margin-left: 300px;
    flex-direction: column;
    width: 800px;
    background-color: #EEEEEE;
    border-left: solid #BBBBBB;
    border-right: solid #BBBBBB;
    padding: 10px 30px;
}

#navbar, code {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 0;
}

code {
    padding: 10px 20px;
    background-color: #222222;
    color: gray;
    width: 80%;
    margin: 10px auto;
    font-weight: bold;
}

.arrow {
    display: none;
}

.collapsed-bar {
    overflow: hidden;
}

.footer2 {
    display: none;
}

@media (max-width: 700px) {
    header {
        padding-top: 150px;
        margin-top: -150px;
    }

    .container {
        flex-direction: row;
    }

    .spacer {
        display: block;
    }

    main {
        margin: auto;
    }

    .col1 {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        position: fixed;
        margin: auto;
        height: auto;
        box-shadow: -1px 1px 10px #777777, 1px 1px 10px #777777;
        padding: 0 0 15px;
        overflow: hidden;
    }

    h1 {
        margin-bottom: 0;
    }

    .arrow {
        margin: auto;
        display: block;
        padding-top: 10px;
        width: 35px;
        transition: all 0.4s ease-in-out;
    }

    #navbar a {
        margin: auto;
        padding: 0;
        font-size: 24px;
    }

    .items {
        height: 0;
        padding-top: 20px;
        transition: 0.5s;
    }

    .col2 {
        margin-top: 250px;
        margin: auto;
        width: 100%;
    }

    #items-left {
        display: none;
    }

    #items-top {
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .footer2 {
        text-align: center;
        padding: 20px 0;
        height: 40px;
        display: block;
        background-color: #111111;
        color: #dddddd;
        font-weight: bold;
        font-family: "Open Sans";
    }

    .footer2 a {
        text-decoration: none;
        color: #dddddd;
    }

    .footer2 p {
        margin: 0;
    }
}

.footer {
    padding: 30px;
    color: white;
    font-family: "Open Sans";
    font-size: 16px !important;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.footer a {
    display: block;
    text-align: center;
    padding: 0 !important;
    text-decoration: none;
    color: white;
}